@model Inventory.MODELS.PSUModels.PSUDetail

@{
    ViewBag.Title = "Details";
}
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<h2>Details</h2>

<div>
    <h4>PSUDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EffeciencyRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EffeciencyRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fanless)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fanless)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ATXConnectors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ATXConnectors)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAvailable)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PsuId }, htmlAttributes: new { @class = "btn-sm btn-primary" }) |
    @Html.ActionLink("Back to List", "Index", new { }, htmlAttributes: new { @class = "btn-sm btn-info" })
</p>
