@model IEnumerable<Inventory.MODELS.PSUModels.PSUListItem>

@{
    ViewBag.Title = "Index";
}
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<h2>List of Power Supplies</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { }, htmlAttributes: new { @class = "btn-sm btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ATXConnectors)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAvailable)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manufacturer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ATXConnectors)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAvailable)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id = item.PsuId}, htmlAttributes: new { @class = "btn-xs btn-warning" }) |
            @Html.ActionLink("Details", "Details", new { id = item.PsuId }, htmlAttributes: new { @class = "btn-xs btn-info" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.PsuId }, htmlAttributes: new { @class = "btn-xs btn-danger" })
        </td>
    </tr>
}

</table>
