@model Inventory.MODELS.CPUModels.CPUDetail
@{
    ViewBag.Title = "Delete";
}
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

<div>
    <h3>Are you sure you want to remove this: <b>"@Html.DisplayFor(model => model.Name)"</b>?</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CoreCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CoreCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CoreClock)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CoreClock)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BoostClock)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BoostClock)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Socket)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Socket)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsAvailable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsAvailable)
        </dd>

    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn-xs btn-danger" /> |
            @Html.ActionLink("Back to List", "Index", new { }, htmlAttributes: new { @class = "btn-sm btn-primary" })
        </div>
    }
</div>
