<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Inventory Management System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="dropdown" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Inventory Management System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li> @Html.ActionLink("Create new item", "#", "#")</li>
                </ul>
                    @Html.Partial("_LoginPartial")
                <ul class="navbar-collapse collapse">
                    <!--Browse Inventory Drop down-->
                    <li>
                        @*<button type="button" class="navbar-btn btn-primary" data-toggle="collapse" data-target="#info">
                                Browse Inventory
                            </button>*@
                        <a href="#info" class="navbar-collapse navbar-inverse" data-toggle="collapse">Browse Inventory</a>
                        <div id="info" class="collapse">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="card" style="width:200px">
                                        <img class="card-img-top" src="~/Views/Shared/Assets/Cpu.jpg" alt="Card image" />
                                        <div class="card-img-overlay">
                                            <div class="card-body text-center">
                                                <a href="#" class="card-text text-decoration-none stretched-link text-dark">CPU</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="card" style="width:200px">
                                        <img class="card-img-top" src="img_avatar1.png" alt="Card image">
                                        <div class="card-img-overlay">
                                            <div class="card-body text-center">
                                                <a href="#" class="card-text text-decoration-none stretched-link text-dark">Motherboard</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="card" style="width:200px">
                                        <img class="card-img-top" src="img_avatar1.png" alt="Card image">
                                        <div class="card-img-overlay">
                                            <div class="card-body text-center">
                                                <a href="#" class="card-text text-decoration-none stretched-link text-dark">Power Supply Unit</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="card" style="width:200px">
                                        <img class="card-img-top" src="img_avatar1.png" alt="Card image">
                                        <div class="card-img-overlay">
                                            <div class="card-body text-center">
                                                <a href="#" class="card-text text-decoration-none stretched-link text-dark">Displays</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="card" style="width:200px">
                                        <img class="card-img-top" src="img_avatar1.png" alt="Card image">
                                        <div class="card-img-overlay">
                                            <div class="card-body text-center">
                                                <a href="#" class="card-text text-decoration-none stretched-link text-dark">Storage</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="card" style="width:200px">
                                        <img class="card-img-top" src="img_avatar1.png" alt="Card image">
                                        <div class="card-img-overlay">
                                            <div class="card-body text-center">
                                                <a href="#" class="card-text text-decoration-none stretched-link text-dark">Video Card</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="card" style="width:200px">
                                        <img class="card-img-top" src="img_avatar1.png" alt="Card image">
                                        <div class="card-img-overlay">
                                            <div class="card-body text-center">
                                                <a href="#" class="card-text text-decoration-none stretched-link text-dark">Memory</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="card" style="width:200px">
                                        <img class="card-img-top" src="img_avatar1.png" alt="Card image">
                                        <div class="card-img-overlay">
                                            <div class="card-body text-center">
                                                <a href="#" class="card-text text-decoration-none stretched-link text-dark">Cables</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*<ul class="dropdown-menu">
                                    <li>@Html.ActionLink("CPU", "#", "#")</li>
                                    <li>@Html.ActionLink("Motherboard", "#", "#")</li>
                                    <li>@Html.ActionLink("Storage", "#", "#")</li>
                                    <li>@Html.ActionLink("Video Card", "#", "#")</li>
                                    <li>@Html.ActionLink("Power Supply Unit", "#", "#")</li>
                                    <li>@Html.ActionLink("Memory", "#", "#")</li>
                                    <li>@Html.ActionLink("Displays", "#", "#")</li>
                                    <li>@Html.ActionLink("CPU", "#", "#")</li>
                                </ul>*@
                        </div>
                    </li>
                </ul>





            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Inventory Management System</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
