<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SCIMS</title>
    <link rel="shortcut icon" type="img/png" href="~/Content/Assets/blackpower.png" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="dropdown" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SCIMS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Projects</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Create a project", "Create", "Project")</li>
                            <li>@Html.ActionLink("View your projects", "Index", "Project")</li>
                        </ul>

                    </li>
                    <li>
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Create new entry</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("CPU", "Create", "CPU")</li>
                            <li>@Html.ActionLink("Motherboard", "Create", "MOBA")</li>
                            <li>@Html.ActionLink("External Storage", "Create", "External")</li>
                            <li>@Html.ActionLink("Internal Storage", "Create", "Internal")</li>
                            <li>@Html.ActionLink("Video Card", "Create", "VideoCard")</li>
                            <li>@Html.ActionLink("Power Supply Unit", "Create", "PSU")</li>
                            <li>@Html.ActionLink("Memory", "Create", "Memory")</li>
                            <li>@Html.ActionLink("Case", "Create", "Case")</li>

                        </ul>

                    </li>

                    <!--Browse Inventory Drop down-->
                    <li>
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Browse Inventory</a>


                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("CPU", "Index", "CPU")</li>
                                <li>@Html.ActionLink("Motherboard", "Index", "MOBA")</li>
                                <li>@Html.ActionLink("External Storage", "Index", "External")</li>
                                <li>@Html.ActionLink("Internal Storage", "Index", "Internal")</li>
                                <li>@Html.ActionLink("Video Card", "Index", "VideoCard")</li>
                                <li>@Html.ActionLink("Power Supply Unit", "Index", "PSU")</li>
                                <li>@Html.ActionLink("Memory", "Index", "Memory")</li>
                                <li>@Html.ActionLink("Case", "Index", "Case")</li>
                            </ul>
                    </li>
                    <li></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
            




        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="color:black">&copy; @DateTime.Now.Year - Seth's Computer Inventory Management System <span class="col-md-offset-5"><a style="color:black;" href="https://black-lives-matter-resources.web.app/"><b>Support #BlackLivesMatter</b></a><img src="~/Content/Assets/blackpower.png" width="18" style="padding-left:6px" /></span></p>
            
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
