<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Inventory Management System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="dropdown" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Inventory Management System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Create new entry</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("CPU", "Create", "CPU")</li>
                            <li>@Html.ActionLink("Motherboard", "Create", "Motherboard")</li>
                            <li>@Html.ActionLink("External Storage", "#", "#")</li>
                            <li>@Html.ActionLink("Internal Storage", "#", "#")</li>
                            <li>@Html.ActionLink("Video Card", "#", "#")</li>
                            <li>@Html.ActionLink("Power Supply Unit", "#", "#")</li>
                            <li>@Html.ActionLink("Memory", "Create", "Memory")</li>
                            <li>@Html.ActionLink("Case", "Create", "Case")</li>

                        </ul>

                    </li>

                    <!--Browse Inventory Drop down-->
                    <li>
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Browse Inventory</a>


                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("CPU", "Index", "CPU")</li>
                                <li>@Html.ActionLink("Motherboard", "#", "#")</li>
                                <li>@Html.ActionLink("External Storage", "#", "#")</li>
                                <li>@Html.ActionLink("Internal Storage", "#", "#")</li>
                                <li>@Html.ActionLink("Video Card", "#", "#")</li>
                                <li>@Html.ActionLink("Power Supply Unit", "#", "#")</li>
                                <li>@Html.ActionLink("Memory", "Index", "Memory")</li>
                                <li>@Html.ActionLink("Case", "Index", "Case")</li>
                                
                            </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
            




        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Inventory Management System</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
